/* CSS declarations go here */
/* CSS declarations go here */

/*
body {
  font-family: Lato, sans-serif;
  background-color: #fff;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.message {
  min-width: 100%;
}

*/

.channel_name, .unstyled-links {
  text-decoration: none;
  color: inherit;
}

.avatar {
  padding-right: 5px;
}