<template name="app">
  <div class="ui grid">
    <div class="row">
      <div class="sixteen wide column">
        {{> header}}
      </div>
    </div>
    <div class="row">
      <div class="one wide column"></div>
      <div class="three wide column">
        {{> leftpane}}
      </div>
      <div class="eleven wide column">
        {{> mainpane}}
      </div>
      <div class="one wide column"></div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
          {{> footer}}
      </div>
    </div>
  </div>
</template>
