<template name="channellist">

<div class="ui middle aligned list">
  {{#each channels}}
  <div class="item">
    {{#if usersOwn this.createdBy currentUser._id}}
    <div class="right floated middle aligned content">
      <a class="channel_name unstyled-links" href="{{pathFor 'admin' channel=channelName}}">
        <i class="options icon"></i>
      </a>
      <a class="delete-channel unstyled-links">
        <i class="trash outline icon"></i>
      </a>
    </div>
    {{/if}}
    <div class="middle aligned content">
      <a class="channel_name" href="{{pathFor 'channel' channel=channelName}}">
          #{{channelName}}
      </a>
    </div>
  </div>
  {{/each}}
</div>

</template>

<!--  <div class="ui middle aligned list">
    {{#each channels}}
    <div class="item">
      {{#if usersOwn this.createdBy currentUser._id}}

      {{/if}}
      <div class="middle aligned content">
        <a class="channel_name" href="{{pathFor 'channel' channel=channelName}}">
          #{{channelName}}
        </a>
      </div>
    </div>
    {{/each}}
  </div>
  {{> channeladd}}

  -->