<template name="channellist">
{{#if Template.subscriptionsReady}}
<div class="ui middle aligned list">
  {{#each channels}}
  <div class="item">
    <div class="right floated middle aligned content">
      <a class="subscribe-to-channel unstyled-links {{isSubscribed}}">
        <i class="{{#if isSubscribed}}un{{/if}}hide outline icon"></i>
      </a>
      {{#if usersOwn this.createdBy currentUser._id}}
      <a class="channel_name unstyled-links" href="{{pathFor 'admin' channel=channelName}}">
        <i class="options icon"></i>
      </a>
      <a class="delete-channel unstyled-links">
        <i class="trash outline icon"></i>
      </a>
      {{/if}}
    </div>
    <div class="middle aligned content">
      <a class="channel_name" href="{{pathFor 'channel' channel=channelName}}">
          #{{channelName}}
      </a>
    </div>
  </div>
  {{/each}}

  {{> channeladd}}
</div>
{{/if}}
</template>