<template name="channeldetails">
    <div class="ui raised segment">
        <h1>Administering #{{adminChannel}}</h1>
        <div class="ui divider"></div>
        <div class="ui list">
            <div class="item">
                <div class="header">Channel name</div>
                {{channelDetails.channelName}}
            </div>
            <div class="item">
                <div class="header">Created</div>
                {{createdAtTime channelDetails.createdAt}}
            </div>
            <div class="item">
                <div class="header">Created by</div>
                {{findUserNameFromId channelDetails.createdBy}}
            </div>
            <div class="item">
                <div class="header">Access</div>
                <div class="ui list">
                    {{#each channelDetails.access}}
                    <div class="item">
                        <div class="pull-left">{{> avatar userId=this shape="circle" size="extra-small"}}</div> {{findUserNameFromId this}}
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="item">
                <div class="header">Public</div>
                {{channelDetails.global}}
            </div>
        </div>
    </div>
</template>