<template name="channellist">
  {{#if Template.subscriptionsReady}}
  <ul class="collection">
    {{#each channels}}
    <li class="collection-item">
      <div>
        <a class="channel_name" href="{{pathFor 'channel' channel=channelName}}">
          #{{channelName}}
        </a>
        <a class="secondary-content delete-channel unstyled-links">
          <i class="material-icons">delete</i>
        </a>
        {{#if usersOwn this.createdBy currentUser._id}}
        <a class="secondary-content channel_name unstyled-links" href="{{pathFor 'admin' channel=channelName}}">
          <i class="material-icons">settings</i>
        </a>
        {{/if}}
        <a class="secondary-content subscribe-to-channel unstyled-links {{isSubscribed}}">
          {{#if isSubscribed}}
            <i class="material-icons">volume_off</i>
          {{else}}
            <i class="material-icons">volume_up</i>
          {{/if}}
        </a>
      </div>
    </li>
    {{/each}} {{> channeladd}}
  </ul>
  {{/if}}
</template>