<template name="editmessage">
  {{#if displayEditingWindow}}
    {{#with message id}}
    <form class="editing-message ui form" id={{_id}} >
      <div class="ui action input fluid">
      <div name="text" autocomplete="off" value={{text}} class="editable"></div>
      <button class="ui icon button cancel-edit-message" type="reset">
      <i class="cancel icon"></i>
      </button>
      <button class="ui icon button save-edit-message" type="submit">
      <i class="save icon"></i>
      </button>
    </div>
  </form>
  {{/with}}
  {{/if}}
</template>
