<template name="editmessage">
  {{#if displayEditingWindow}}
    {{#with message id}}
    <form class="editing-message" id={{_id}} >
      <div class="input-field">
      <textarea name="editedText" class="materialize-textarea">{{text}}</textarea>
      <button class="ui icon button cancel-edit-message" type="reset">
      <i class="cancel icon"></i>
      </button>
      <button class="ui icon button save-edit-message" type="submit">
      <i class="save icon"></i>
      </button>
    </div>
  </form>
  {{/with}}
  {{/if}}
</template>
