<template name="message">
  <div class="ui comments">
    <div class="comment">
      <div class="pull-left">
        {{> avatar user=createdBy class="img" shape="rounded"}}
      </div>
      <div class="content">
        <a class="author">{{createdBy.username}}</a>
        <div class="metadata">
          <div class="date">{{createdAtTime createdAt}}</div>
          {{#if usersOwn currentUser.username createdBy.username}}
          <div class="actions">
            <a class="edit-message">Edit</a>
            <a class="delete-message">Delete</a>
          </div>
          {{/if}}
        </div>
        <div class="text">
          {{#markdown}}{{#emoji}}{{text}}{{/emoji}}{{/markdown}}
        </div>
      </div>
    </div>
  </div>
</template>
