<template name="message">
  <div class="comment">
    <a class="avatar">
      <img src="{{avatarUrl createdBy}}">
    </a>
    <div class="content">
      <a class="author">
        {{createdBy.username}}
      </a>
      <div class="metadata">
        <div class="date">
          {{createdAtTime createdAt}}
        </div>
        {{#if usersOwn currentUser.username createdBy.username}}
        <div class="actions">
          <a class="edit-message">Edit</a>
          <a class="delete-message">Delete</a>
        </div>
        {{/if}}
      </div>
      <div class="text">
        {{#markdown}}{{#emoji}}{{text}}{{/emoji}}{{/markdown}}
      </div>
    </div>
  </div>
</template>
