<template name="mobileheader">
  <div id="navbar" class="ui small top inverted attached menu">
    <div class="header item open-sidebar">
      <div class="ui compact inverted icon button" onClick="$('.ui.sidebar').sidebar('toggle');">
        <i class="sidebar icon"></i>
      </div>
    </div>
    <div class="header item">
      <strong>Mokus</strong>
    </div>
    <div class="right menu">
      <div class="item">
        <a href={{pathFor 'about'}}>About</a>
      </div>
      {{> loginButtons}}
    </div>
  </div>
</template>
