<template name="notifications">
  <li>
    <a class="dropdown-button" href="#!" data-activates="notificationsdropdown">
      Notifications {{#if notificationCount}}
        <span class="new badge">
          {{notificationCount}}
        </span> {{/if}}

    <i class="material-icons right">arrow_drop_down</i>
    </a>
  </li>

  <ul id="notificationsdropdown" class="dropdown-content">
    {{#if notificationCount}} {{#each notifications}}
    <li>
      <strong><a href="{{pathFor 'user' user=message.createdBy._id}}" class="ui notification-links">{{message.createdBy.username}}</a></strong>      posted in <a href="{{pathFor 'channel' channel=message.channel}}" class="channel_name ui notification-links">#{{message.channel}}</a>      <span class="dismiss">&times;</span>
    </li>
    {{/each}}
    <div class="item dismissall"><a class="notification-links">Mark all as read</a></div>
    {{else}}
    <li>
      <a>No Notifications</a>
    </li>
    {{/if}}
  </ul>
</template>